@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Public Sans', sans-serif;
}

.header{
   background-image: url("./assets/images/bg-intro-desktop.svg");
   background-repeat: no-repeat;
   background-position-x: calc(100% + 34rem);
   background-position-y: calc(-260px);
   background-color:  rgb(250, 250, 250);
}
@media (max-width: 700px) {
   .header{
      background-image: url("./assets/images/bg-intro-mobile.svg");
      background-position-x: center;
      background-position-y: 0;
      background-size: 100%;
   }
}

.features{
   background-color:  rgb(243, 244, 246);
}

.articles{
   background-color:  rgb(250, 250, 250);
}

.footer{
   background-color: rgb(45, 49, 77);
}

.footer li:not(:last-child){
   margin-bottom: 0.75rem;
}

.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10%;
   z-index: 100;
   background-color: white;
   width: 100%;
}

.fixed-nav{
   position: fixed;
}
