@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sarabun-extralight';
	src: url('/public/Fonts/Sarabun-ExtraLight.ttf');
}
@font-face {
	font-family: 'Sarabun-light';
	src: url('/public/Fonts/Sarabun-Light.ttf');
}
@font-face {
	font-family: 'Sarabun-medium';
	src: url('/public/Fonts/Sarabun-Medium.ttf');
}
@font-face {
	font-family: 'Sarabun';
	src: url('/public/Fonts/Sarabun-Regular.ttf');
}

@font-face {
	font-family: 'Sarabun-semibold';
	src: url('/public/Fonts/Sarabun-SemiBold.ttf');
}

* {
	line-height: normal;
}

body {
	font-family: 'Sarabun', sans-serif;
	overflow-x: hidden;
}

li {
	list-style: none;
	font-family: 'Sarabun', sans-serif;
}

.card-shadow {
	background: #f4fdf8;
	border-radius: 16px;
}

p {
	font-family: 'Sarabun-light', sans-serif;
}

.animateImage {
	position: absolute;
	white-space: nowrap;
	animation: floatImage 30s infinite alternate ease-in-out;
}

.animateIcon {
	animation: floatIcon 250ms ease;
}

@keyframes floatImage {
	/* from {
		left: -100%;
	}

	to {
		left: 100%;
	} */

	0% {
		left: 0%;
	}
	40% {
		left: 40%;
	}
	80% {
		left: -0%;
	}
	100% {
		left: -100%;
	}
}

@keyframes rotateIcon {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

/* old */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
	background-color: white;
	width: 100%;
	position: relative;
	z-index: auto;
}

.fixed-nav {
	position: fixed;
}
